.Rproj.user
.Rhistory
.RData
.Ruserdata
.httr-oauth
resume/index_Page_1.png
resume/index_Page_2.png
resume/index_Page_3.png
resume/index_Page_4.png
resume/index_Page_5.png
resume/index_Page_6.png
resume/index_Page_7.png
